* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contents {
	width: 100%;
}

.box1 {
	background-image: url(box1.jpg);
	background-position: center;
	background-size: cover;
	height: 200px;
}

.box2 {
	height: 200px;
	background-image: url(box2.jpg);
	background-size: cover;
	background-position: center;
}

.box3 {
	height: 200px;
	background-image: url(box3.jpg);
	background-size: cover;
	background-position: center;
}

.box4 {
	height: 200px;
	background-image: url(box4.jpg);
	background-size: cover;
	background-position: center;
}

/*check!!! do not show img*/
/*developper tool can recognize css file*/